
fastapi
uvicorn
sqlalchemy
python-multipart
python-jose[cryptography]
bcrypt
python-dotenv

numpy
joblib
pandas
scikit-learn

torch
transformers
sentencepiece
accelerate

tensorflow
keras

librosa
soundfile
ffmpeg-python

opencv-python
pillow

huggingface-hub
tokenizers

pydantic
httpx
requests
